/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
mat-form-field.mat-form-field.phone-input .mat-form-field-label {
  padding-left: 7rem;
}
mat-icon.mat-icon.disabled {
  color: #ebebe4;
}
mat-table.mat-table {
  box-shadow: none;
}
